/* .main {

  border: 0.1px solid black !important;
  transition: 1s;
}

.main:hover {

  border-radius: 1px;
  border-radius: 4px;
  transition: 1s;
  transform: scale(1.01);
  box-shadow: 5px 5px 10px 10px rgb(222, 202, 237);
} */